/* Variables */
:root {
    --header-height: 3rem;

    /* Change favorite color */
    --hue-color: 200; /*Purple 250 - Green 142 - Blue 230 - Pink 340*/

    /* HSL color mode */
    --first-color: hsl(var(--hue-color),69%,61%);
    --first-color-second: hsl(var(--hue-color),69%,61%);
    --first-color-alt: hsl(var(--hue-color),57%,53%);
    --first-color-lighter: hsl(var(--hue-color),92%,85%);
    --title-color: hsl(var(--hue-color),8%,15%);
    --text-color: hsl(var(--hue-color),8%,45%);
    --text-color-light: hsl(var(--hue-color),8%,65%);
    --input-color: hsl(var(--hue-color),70%,96%);
    --body-color: hsl(var(--hue-color),60%,99%);
    --container-color: #fff;
    --scroll-bar-color: hsl(var(--hue-color),12%,90%);
    --scroll-thumb-color: hsl(var(--hue-color),12%,80%);

    /* --first-color: hsl(230,69%,61%);
    --first-color-second: hsl(230,69%,61%);
    --first-color-alt: hsl(230,57%,53%);
    --first-color-lighter: hsl(230,92%,85%);
    --title-color: hsl(230,8%,15%);
    --text-color: hsl(230,8%,45%);
    --text-color-light: hsl(230,8%,65%);
    --input-color: hsl(230,70%,96%);
    --body-color: hsl(230,60%,99%);
    --container-color: #fff;
    --scroll-bar-color: hsl(230,12%,90%);
    --scroll-thumb-color: hsl(230,12%,80%); */

    /* Font & Typographi */
    --big-font-size: 2rem;
    --h1-font-size: 1.5rem;
    --h2-font-size: 1.25rem;
    --h3-font-size: 1.125rem;
    --normal-font-size: .938rem;
    --small-font-size: .813rem;
    --smaller-font-size: .75rem;

    /*========== Font weight ==========*/
    --font-medium: 500;
    --font-semi-bold: 600;

    /*========== Margines Bottom ==========*/
    /* .25rem = 4px, .5rem = 8px, .75rem = 12px ... */
    --mb-0-25: .25rem;
    --mb-0-5: .5rem;
    --mb-0-75: .75rem;
    --mb-1: 1rem;
    --mb-1-5: 1.5rem;
    --mb-2: 2rem;
    --mb-2-5: 2.5rem;
    --mb-3: 3rem;

    /*========== z index ==========*/
    --z-tooltip: 10;
    --z-fixed: 100;
    --z-modal: 1000;
}

body.dark-theme {
    --first-color-second: hsl(var(--hue-color),30%,8%);
    --title-color: hsl(var(--hue-color),8%,95%);
    --text-color: hsl(var(--hue-color),8%,75%);
    --input-color: hsl(var(--hue-color),29%,16%);
    --body-color: hsl(var(--hue-color),28%,12%);
    --container-color: hsl(var(--hue-color),29%,16%);
    --scroll-bar-color: hsl(var(--hue-color),12%,48%);
    --scroll-thumb-color: hsl(var(--hue-color),12%,36%);
}